.table {
    table-layout: fixed;
}

.table tbody {
    display: block;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: small;
}
.table th {
    background: rgba(0, 255, 231, 0.13);
    text-align: center;
}
.table td {
    padding: 2px 2px 0;
    vertical-align: middle;
    text-align: center;
}
.nav-link:hover {
    background-color: rgba(0, 255, 231, 0.13);
}

#imageGallery {
    width: 100%;
    object-fit: cover;
    height: 130px;
}
.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.position-relative:hover .overlay {
    display: flex;
    flex-direction: row; /* Xếp hai nút theo chiều ngang */
    align-items: center; /* Canh giữa nút theo chiều dọc */
    justify-content: center; /* Canh giữa nút theo chiều ngang */
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}




