.table {
    table-layout: fixed;
}

.table tbody {
    display: block;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: small;
}
.table th {
    background: rgba(0, 255, 231, 0.13);
    text-align: center;
}
.table td {
    padding: 2px 2px 0;
    vertical-align: middle;
    text-align: center;
}
.nav-link:hover {
    background-color: rgba(0, 255, 231, 0.13);
}

#imageGallery {
    aspect-ratio: 4/3;
    object-fit: cover;
    height: -webkit-fill-available;
}


