	/* ---------- BOOKING ----------- */

	.booking{
		position:relative;
		/*overflow:hidden;*/
		float:right;
		clear:both;
		z-index: 99;
	}
	.booking {
		position: fixed;
		top: 20px;
    z-index: 21;
    right: 0;
    background: transparent;
    padding: 0;
    right: 30px;
		max-width: 240px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 14px -5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 14px -5px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 14px -5px;
		z-index: 99989;
	}
	.booking.open,
	.hide-info + .booking.open {
		min-width: 340px;
    max-width: 340px;
		padding: 40px 32px 15px;
		background: rgba(254, 254, 254, 0.92);
    top: 0 !important;
    right: 0;
    height: 100%;
		position: fixed;
		z-index: 99990;
	}
	.booking .booking-header{
		display:none;
	}

	.booking * {
		font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 500;
	}

	.booking #availability-checker{ position:relative; width:100%; height:auto;padding: 0;}
	.booking #availability-checker .clearspace{clear:both;}
	.booking #availability-checker .ui-datepicker{float: none;}
	.booking #availability-checker #booking-form{ width:100%; }
	.booking #availability-checker #booking-form #booking-content-area{display:none;}
	.booking #availability-checker #booking-form #booking-content-area .calendardate{padding-bottom: 18px;}
	#booking-content-area .block-rooms,
	#booking-content-area .block-adults,
	#booking-content-area .block-children,
	#booking-content-area .block-code {
		padding: 0;
	}

	#booking-content-area .block-code label {
		text-align: left;
	}

	#booking-content-area .block-code input {
		height: 45px;
    line-height: 35px;
    border: 0;
    padding: 7px 10px !important;
    background: #2b2e34;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
		text-transform: uppercase;
		cursor: auto;
    color: #fff;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
	}

	#booking-content-area .choose::after,
	#booking-content-area .choose::before {
		display: none !important;
	}

	.booking .title-checkDate {
		display: none;
	}

	.booking .check-date,
	.booking.open .show-calendar {
		display: none;
	}

	.booking.open .check-date,
	.booking .show-calendar {
		display: block;
	}

	.booking.open .title-checkDate {
		display: block;
	}

	.booking .title-checkDate h4 {
		font-weight: 600;
    font-size: 21px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.booking #availability-checker #booking-form .adults{width:100%;}
	.booking #availability-checker #booking-form .rooms{width:100%;}
	.booking #availability-checker .ui-datepicker{max-width: 100%;width: 100%;min-height: 262px; }
	.booking #availability-checker .ui-datepicker .ui-datepicker-group{max-width: 283px; width: 283px;}
	.booking #availability-checker .ui-datepicker .ui-datepicker-group-last{display:none;}
	.booking #availability-checker .ui-datepicker .ui-datepicker-calendar{width:100%;}
	.booking #availability-checker .ui-datepicker .ui-datepicker-header{background:#7b7b7b;}
	.booking-button{
		position:relative;
		display:block;
		width:100%;
		height:50px;
	}
	.booking-button a{
		display:block;
		width:100%;
		height:100%;
		text-transform:uppercase;
		text-decoration:none;
	}
	#booking-close{
		position: absolute;
		position: absolute;
    top: 20px;
    right: 0;
		background-color: #b2b2b2;
		height: 20px;
		width: 30px;
		cursor: pointer;
		transform-origin:center center;
		-webkit-transform: translate(-50%,-50%) scale(0);
		-ms-transform: translate(-50%,-50%) scale(0);
		transform: translate(-50%,-50%) scale(0);
		-webkit-transition:transform .2s ease-in;
		transition:transform .2s ease-in;
	}
	#booking-mask-wrapper.open #booking-close{
		-webkit-transform: translate(-50%,-50%) scale(1);
		-ms-transform: translate(-50%,-50%) scale(1);
		transform: translate(-50%,-50%) scale(1);
		-webkit-transition:transform .2s ease-in .3s;
		transition:transform .2s ease-in .3s;
	}

	#booking-mask-wrapper {
		transition: 0.6s all;
	}

/*.booking-button a:hover{
	opacity:.8;
	}*/
	.booking-button .no-mobile{
		vertical-align:middle;
	}
	.booking-button .no-mobile:before,
	.booking-button .no-mobile:after{
		content:'';
		margin-bottom:3px;
		display:inline-block;
		vertical-align:middle;
	}
	.booking-button .no-mobile:after{
		border-style:solid;
	}

	/**/
	.booking-form{
		float:right;
	}
	.booking-form label{
		display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 8px;
		text-align: left;
		font-weight: 600;
	}

	#booking-mask-wrapper.open .date.booking-field label {
		background: #fff;
    padding: 11px 5px;
    margin: 0;
	}
	.booking-form input{
		width:100%;
		height:35px;
		line-height:35px;
		padding: 0 10px;
		border:0;
		border-radius:0;
		cursor: pointer;
		font-size:15px;
		font-weight:400;
		text-transform:uppercase;
		background: none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.booking-form .booking-field{
		box-sizing:border-box;
		width:100%;
		padding:0;
		z-index: 1;
	}
	.booking-form .choose{
		position:relative;
		width: 100%;
		width: 100%;
		width: 100%;
	}
	.booking-form .choose + .choose{
		float:right;
	}
	.booking-form .choose select{
		width:95%;
		height:45px;
		line-height:35px;
		border:0;
		padding: 7px 10px !important;
		background:#2b2e34;
		border-radius:0;
		font-size:18px;
		font-weight: 600;
		text-transform:uppercase;
		cursor:pointer;
		-webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
	}
	.booking-form .choose:before,
	.booking-form .choose:after{
		content:'';
		pointer-events: none;
		position:absolute;
		bottom:0px;
		top: 68%;
		right:0px;
		display:block;
	}
	.booking-form .choose:before{
		z-index:2;
		height:35px;
		width:35px;
	}
	.booking-form .choose:after{
		z-index:3;
		margin:0 10px 13px;
		border-width:6px 5.5px 0 5.5px;
		border-style:solid;
	}
	.booking-form .promo-code {
		padding:8px 2px 15px;
	}
	.booking-form .promo-code label{ display:none; }
	.booking-form .booking-link {
		margin:0 2px;
		border:0;
		text-transform:uppercase;
		cursor:pointer;
		display:block;
		margin:0 2px;
		line-height: 35px;
	}
	.ui-datepicker{
		float:left;
		width:66%;
	}
	.booking .date.booking-field{
		position:relative;
	}

	.booking .ui-datepicker-inline.ui-datepicker {
		width: 100% !important;
		padding:0;
		margin:0;
	}
	.booking .ui-datepicker .ui-datepicker-group{
		float:right;
		width:280px;
		max-width:calc(50% - 5px);
		max-width:-webkit-calc(50% - 5px);
		max-width:-o-calc(50% - 5px);
	}
	.booking .ui-datepicker .ui-datepicker-group:first-child{
		float:left;
	}
	.booking .ui-datepicker ,
	.booking .ui-datepicker *,
	.booking .ui-datepicker .ui-widget-header,
	.booking .ui-datepicker .ui-widget-content,
	.booking .ui-datepicker .ui-widget-header *,
	.booking .ui-datepicker .ui-widget-content *{
		background:none;
		border:0;
		padding:0;
		margin:0;
		font-weight: 600;
	}
	.booking .ui-datepicker .ui-corner-all{
		padding-top:3px;
		top:1;
	}
	.booking .ui-datepicker .ui-datepicker-next:before,
	.booking .ui-datepicker .ui-datepicker-prev:before{
		content:'';
		display:block;
		width:0;
		height:0;
		border-style: solid;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
	.booking .ui-datepicker .ui-datepicker-prev{left:6px;}
	.booking .ui-datepicker .ui-datepicker-next{right:6px;}
	.booking .ui-datepicker .ui-datepicker-prev:before,
	.ui-datepicker .ui-datepicker-prev:before{
		border-width: 10px 11px 9px 0;
	}
	.booking .ui-datepicker .ui-datepicker-next:before,
	.ui-datepicker .ui-datepicker-next:before{
		border-width: 10px 0 9px 11px;
	}
	.booking .ui-datepicker .ui-datepicker-title{
		padding-bottom:3px;
	}
	.booking .ui-datepicker .ui-datepicker-calendar{
		table-layout:fixed;
		/* border:1px solid #7b7b7b; */
	}
	.booking .ui-datepicker .ui-datepicker-calendar thead{
		font-size:12px;
		color:#333;
	}
	.booking .ui-datepicker .ui-datepicker-calendar thead tr th{padding-bottom:4px; padding-top:5px;font-size: 16px;}
	.booking .ui-datepicker .ui-datepicker-calendar tbody td{
		border-collapse:collapse;
		border-width:0;
		border-style:solid;
		padding:0;
		margin:0;
		text-align:center;
		width:39px;
		height:39px;
		opacity: 1;
	}
	.booking .ui-datepicker .ui-datepicker-calendar tbody td span{
		background:none;
	}
	.booking .ui-datepicker .ui-datepicker-calendar tbody td span,
	.booking .ui-datepicker .ui-datepicker-calendar tbody td a{
		border:0;
		padding:0;
		text-align:center;
		font-size:15px;
		display:block;
		width:100%;
		height:100%;
		line-height:39px;
		color:#FFF;
		background:transparent;
	}
	.booking .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-unselectable.ui-state-disabled span,
	.booking .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-unselectable.ui-state-disabled a{
		opacity:0.4;
	}
	.ie9 #booking-form label{
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:35px;
		line-height:35px;
		text-align:left;
		padding-left:10px;
		display:block;
		text-transform:uppercase;
		z-index:2;
	}

	/* .booking.fixed-bk{margin:0; position:absolute; top:65px;}
	.booking.fixed-bk .booking-header{display:block;}
	.booking.fixed-bk #booking-mask{display:none;} */
	.booking .booking-header{height:40px; width:320px;}
	.booking .booking-header .best_rate{margin:2px 0 0 12px;}
	.booking .booking-header .booking-button{height:39px; width:157px; float:right; margin: 1px 1px 0 0;}
	.booking .booking-header .booking-button a{width:auto; height:auto; text-align: center; padding:12px 0 11px; font-size:15px; line-height:15px;}
	#header.fixed .booking-header .booking-button{ border-top:none; }


@media(min-width: 992px ) {
	#booking-content-area .block-rooms,
	#booking-content-area .block-adults {
		padding-right: calc(32px / 3);
	}

	#booking-content-area .block-children {
		padding-left: calc(32px / 3);
	}
}

@media(max-width: 991px) {
	#booking-content-area .block-rooms, 
	#booking-content-area .block-adults, 
	#booking-content-area .block-children {
		margin-bottom: 15px;
	}
}

@media(max-width: 767px) {
	#booking-mask-wrapper.open #booking-close {
    z-index: 99991;
	}
	
	.booking-form .date.booking-field.active:after {
    left: calc(50vw - 44px) !important;
	}

	.booking {
		max-width: 100%;
		min-width: 100%;
	}

	.booking.open {
		min-width: 100%;
		max-width: 100%;
		padding: 40px 20px 40px;
	}

	#booking-mask-wrapper.closed .show-calendar {
		width: 100%;
    margin-left: auto;
	}

	#booking-mask-wrapper.show-check .check-date {
		width: 50%;
	}

	/* .hide-check-date .show-calendar  {
    margin-top: 0 !important;
  } */
  
  #booking-mask-wrapper.closed .date-1,
  #booking-mask-wrapper.closed .date-2{
    display: none;
  }
  
  #booking-mask-wrapper.closed {
		padding: 0 !important;
    top: unset !important;
    right: 0 !important;
    background: transparent !important;
    bottom: 0;
  }
  
  #booking-mask-wrapper.closed .input-check {
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:0){
	/* Safari 5 */
	::i-block-chrome,
	.booking .booking-form .choose{
		width:49%;
	}
	::i-block-chrome,
	.booking .booking-link{
		width:100%;
	}
}

    /* -- DESKTOP -- */
    @media (min-width: 1200px){
    	.booking .ui-datepicker{
    		margin:0 0 20px;
    	}
		}

    .booking .booking-header .booking-button{height:38px}/*fixed boooking btn top border*/
    .booking-form .choose select{width:100%} /*fixing compatibility issue*/

    /*--IE11 Booking mask Fixes ( Before add this style comment line 64 in bookingMask.php )--*/
    #booking-content-area{width:100%;margin-top: 25px;}
    #booking-content-area .calendardate{clear:left}

    /* -- ROOMS, EVENTS, NEWS -- */
		.item-details .item-detail-widget .booking-container > div{line-height:36px}

	/* BACKGROUNDS */
	.booking .booking-button{
		-webkit-transition:background-color .2s ease;
		-mos-transition:background-color .2s ease;
		-o-transition:background-color .2s ease;
		transition:background-color .2s ease;
	}

	/* BORDERS */
	.booking-button .no-mobile:after,
	.booking-form .choose:after,
	.booking .ui-datepicker .ui-datepicker-next:before,
	.booking .ui-datepicker .ui-datepicker-prev:before,
	.ui-datepicker .ui-datepicker-next:before,
	.ui-datepicker .ui-datepicker-prev:before{
		border-color:transparent;
	}
	.dark-color-border{
		border-color:#555555;
	}
	.dark-intermediate-color-border{
		border-color:#969696;
	}
	.dark-middle-color-border{
		border-color:#616161 ;
	}
	.intermediate-border{
		border-color:#a4a2a2;
	}
	.middle-color-border{
		border-color:#d9d8d8;
	}
	.light-color-border{
		border-color:#d4d2d2;
	}
	.extra-light-color-border, div#header.fixed{
		border-color:#e6e6e6;
	}
	.featured-items-list-widget .itemPreview{
		border-color:#e2e2e2 ;
	}

	.readmore-button{
		border:5px solid #fff;
	}
	.readmore-button:before{
		border-top:5px solid #fff;
	}
	.open .readmore-button:after{
		border-bottom:5px solid #fff;
	}
	.weather .city{
		border-color:#9f9f9f;
	}
	form.flexibleForm .fieldBlock.invalid .fieldInput,form.flexibleForm .fieldBlock.invalid  .flexInputDate, #page_careersapply form.flexibleForm div.fieldBlock.type_fileDocument .ini-text{
		border-color:#ff2020 ;
	}

	#page_home .main .specials-scroller-widget .images-viewmore{
		border-top:50px solid #555;
	}
	.ftr-cell{
		border-left:1px solid #616161;
	}

	.booking  .ui-datepicker .ui-datepicker-calendar tbody td,
	.jbslider-thumb .simg-thumb{
		border-color:#7b7b7b;
	}
	.booking.open .booking-button .no-mobile:after{
		border-bottom-color:#fff;
	}
	.booking-button .no-mobile:after{
		border-top-color:#fff;
	}
	.booking-form .choose:after{
		border-top-color:#fff;
	}
	.modal .social-items{
		border-top:1px solid rgba(255,255,255, .2);
		border-bottom:1px solid rgba(255,255,255, .2);
	}
	.booking .ui-datepicker .ui-datepicker-prev:before, .booking .ui-datepicker .ui-datepicker-next:before,
	.ui-datepicker .ui-datepicker-prev:before, .booking .ui-datepicker .ui-datepicker-next.ui-state-disabled:hover:before,
	.ui-datepicker .ui-datepicker-next:before, .booking .ui-datepicker .ui-datepicker-prev.ui-state-disabled:hover:before{
		border-left-color:#333;
		border-right-color:#333;
	}
	#booking-close:after{
		color: #fff;
	}

	/* outlines */
	.booking-form  select:focus,
	.booking-form  input:focus{
		outline: #030303;
	}

	/* -- BOOKING MASK -- */
	.booking .date.booking-field,.booking-form .choose.booking-field,.booking-form .choose:before{background-color:transparent}
	#booking-mask .date.booking-field:before{ color: #b8a74f; }/*calendar icons*/
	#booking-mask .date.booking-field.active:before{ color: #ffffff;}/*calendar icons active*/
	.booking-form .date.booking-field.active{background-color: transparent;}/*date input active bg*/
	.booking-form .date.booking-field input{color: #fff;margin-bottom: 0px;text-align: center;background: #2b2e34;border: 1px solid #2b2e34;border-radius: 0;height: 100%;padding: 3px 5px;font-size: 15px;height: 30px;} /*date deafult text color*/
	.date.booking-field input::-moz-placeholder{ color: #fff; }
	.date.booking-field input::-webkit-input-placeholder{ color: #fff; }
	.date.booking-field input:-ms-input-placeholder{ color: #fff; }
	.date.booking-field input::placeholder{ color: #fff; }
	.booking-form .choose select{ color: #fff; }
	.booking-form select::-ms-value{ color: #fff; }
	.booking-form .choose select option {
		color: #333;
		background: #fff;
		font-size: 17px;
		padding: 10px 5px;
	}
	
	.booking-form .choose label {
		font-size: 14px;
	}

	#booking-form label{ color: #333; }

	.booking-form .date.booking-field.active input{ color: #fff; }/*date active text color bg*/
	.date.booking-field.active input::-moz-placeholder{ color: #fff; }
	.date.booking-field.active input::-webkit-input-placeholder{ color: #fff; }
	.date.booking-field.active input:-ms-input-placeholder{ color: #fff; }
	.date.booking-field.active input::placeholder{ color: #fff; }
	.ie9 #booking-form .booking-field.active label{ color: #fff; }

	.booking-form .date.booking-field.active:after{
		content: '';
		position: absolute;
		left: 44px;
		width: 0;
		height: 0;
		bottom: -10px;
		border-top: solid 10px #2b2e34;
		border-left: solid 18px transparent;
		border-right: solid 18px transparent;
	}

	.booking-form .choose:after{ border-top-color: #fff;}/*select arrow*/

	.booking #availability-checker #booking-form .booking-link,.booking-button  a {color:#fff;}
	.booking #availability-checker #booking-form .booking-link:hover,.booking-button  a:hover {color:#ffffff;}
	.booking-form .booking-link{ background: #b8a74f; width: 100%; text-shadow: none;
		box-shadow: none; border-radius: 0px;margin: 10px 0 0 0;}/*book now button*/
		.booking-form .booking-link:hover,.booking .booking-header .booking-button a:hover{ background: #00aeef;}
		.booking .booking-button{ background-color: #b8a74f;  }
		#booking-close{background-color: transparent;text-align: center;font-size: 30px;}/*booking mask close arrow*/

		.booking #availability-checker .ui-datepicker .ui-datepicker-header,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-header{ background-color: transparent;}/* Calendar header with Month bg*/
		.booking .ui-datepicker .ui-datepicker-calendar thead,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar thead{background-color:transparent;}/* Calendar header with weekdays bg*/
		.booking .ui-datepicker .ui-datepicker-calendar thead,
		.ui-datepicker .ui-datepicker-calendar thead{ color: #333;}/* Calendar header with weekdays text coor*/
		.booking .ui-datepicker .ui-datepicker-next:before,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-prev:before{ color: #fff;} /* Month next prev bg color*/
		.booking .ui-datepicker .ui-datepicker-next:hover:before,
		.booking .ui-datepicker .ui-datepicker-prev:hover:before,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-next:hover:before,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-prev:hover:before{ border-left-color:#b8a74f;} /* Month next prev hover color*/
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar tr td .ui-state-default,
		.booking .ui-datepicker .ui-datepicker-calendar tbody td span, 
		.booking .ui-datepicker .ui-datepicker-calendar tbody td a{
			color:#333;/* day default color*/
			font-weight: 600;
		}
		.booking .ui-datepicker .ui-datepicker-calendar tbody td a,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar tbody td a{background-color:transparent;}/* day default bg color*/
		.booking .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today a,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today a{background-color: transparent;color: #333;}/* day today  bg color*/
		.booking .ui-datepicker .ui-datepicker-calendar tbody td.ini-highlight a,
		.ui-datepicker .ui-datepicker-calendar tr td .ui-state-default.ui-state-active{background:#5f5f5f;}/* days heighligt bg color*/
		.booking .ui-datepicker .ui-datepicker-calendar tr td.dp-highlight .ui-state-default{background:#b8a74f;}/* day select  bg color*/
		.booking .ui-datepicker .ui-datepicker-calendar tbody td.dp-highlight a.ui-state-default ,.booking .ui-datepicker .ui-datepicker-calendar tbody td.ini-highlight  a.ui-state-default{
			color:#fff;
		}

		.booking .ui-datepicker .ui-datepicker-calendar tbody td,
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar tbody td,.booking .ui-widget.ui-datepicker .ui-datepicker-calendar{border-color:#877453;}/* days border  color*/
		#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar tr td.ui-state-disabled .ui-state-default{background:#d2d2d2;}/* days unselectable  color*/
		.booking-button  a {color: #fff;}/*Book now btn text*/

		.best_rate a{color: #fff;}
		.best_rate a:hover{color:#fff;}

		/* -- MAIN VISUAL -- */
		.item-detail-widget .booking-container .booking-content-separator.divider,
		.item-details .item-detail-widget .navbar .separator{
			border-color:#cfcfcf; /*seperators between checkrate & price and bottom next & Prev*/
		}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_flat_75_ffffff_40x100.html) 50% 50% repeat-x;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.html) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.html) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #dadada url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_glass_75_dadada_1x400.html) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_glass_65_ffffff_1x400.html) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.html) 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_glass_95_fef1ec_1x400.html) 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_222222_256x240.html);
}
.ui-widget-header .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_222222_256x240.html);
}
.ui-state-default .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_888888_256x240.html);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_454545_256x240.html);
}
.ui-state-active .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_454545_256x240.html);
}
.ui-state-highlight .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_2e83ff_256x240.html);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-icons_cd0a0a_256x240.html);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.html) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url(../../../templates/main/libs/jquery/jquery-datepicker/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.html) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
	border-radius: 8px;
}

/* DONT EDIT OVERRIDES */

.ui-widget-content {background: transparent;border-color: transparent; border: none;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-radius: 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-header {background: transparent; border: none;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display: none;}
table {border-spacing: 0 !important;}
.ui-datepicker .ui-datepicker-next:before,
.ui-datepicker .ui-datepicker-prev:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
/*.ui-datepicker .ui-datepicker-next:before {background-position:-398px -190px;}*/
.ui-datepicker table {width: auto; margin: 0; margin-bottom: -1px;}
.ui-datepicker {
	width: auto; padding: 0; display:inline-block;
}
.ui-datepicker td {
	border: 0;
	padding: 0;
}
#datepicker {display: inline-block;}
/* Variations */
/* Widgets Font */
.ui-widget {font-family: 'Open Sans', sans-serif;}
/* Datepicker BODY BACKGROUND */

.ui-widget-content {
	background: white;
	border-color:#004f5a;
}

/* Datepicker HEADER */
#datepicker {}
.ui-datepicker .ui-datepicker-header {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px; 		 	/* << HEADER Font Size */
	color: #333; 		 		/* << HEADER Font Color */
	border: 1px solid gray; /* << Header Border Color */
	background-color:gray; 	/* << HEADER BACKGROUND Color */
}
.ui-datepicker-calendar thead {
	color: gray;
	border: 1px solid gray; /* << Dates Labels Border Color */
	background-color: white;  /* << Dates Labels Background Color */
}
/* Date Picker Dates Colors */
.ui-datepicker td {
	border: 1px solid gray; /* << Dates Grid Border Colors */
	text-align:center;
	vertical-align:middle;
}

.ui-widget-content .ui-state-default{
	width: 36px; height: 36px; text-align: right; margin: 0;  margin-left: 0; margin-top: 0; padding: 2px; border: none;
	font-size: 15px;			/* << Dates Default State Font Size */
	color:gray;				/* << Dates Default State Font Color */
	background-color:white;	/* << Dates Default State Background Color */
}
.ui-state-highl310light, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: white;				/* << Today State Font Color */
	background-color:gray;	/* << Today State Background Color */
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	color: white;				/* << Dates HOVER State Font Color */
	background-color:#00aeef;		/* << Dates HOVER State Background Color */
}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	color:white;				/* << Dates ACTIVE/SELECTED State Font Color */
	background-color: #00aeef;		/* << Dates ACTIVE/SELECTED State BACKGROUND COLOR */
}
/* Date Picker Month Arrows */
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {background: transparent;}


.ui-datepicker .ui-datepicker-next:hover:before{
	border-left-color:#00aeef;		/* << NEXT Arrow HOVER State Color */
}

.ui-datepicker .ui-datepicker-prev:hover:before {
	border-right-color:#00aeef;	/* << PREV Arrow HOVER State Color */
}



.itemdetail-link .item-price,
.itemdetail-link .item-bookinglink{
	margin-top:6px;
	line-height:normal;
	width:100%;
}

.smoothscroll-content{
	width: 100%;
	height: 22px;
	position: absolute;
	bottom: 15px;
	z-index: 2;
}
.smoothscroll-content span{
	width: 33px;
	height: 22px;
	margin: 0 auto;
	cursor: pointer;
}
.smoothscroll-content span:after{
	display: block;
	content: "\f107";
	font-family: FontAwesome;
	font-size: 60px;
	color: #fff;
	position: absolute;
	top: -10px;
	left: 0;
	height: 100%;
	width: 100%;
	line-height: 22px;
	text-align: center;
}

#booking-form-single {
  background: #fff;
  padding: 20px;
}

#booking-form-single .booking-form-row {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

#booking-form-single .booking-form-row span {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 5px 6px;
  font-size: 20px;
  text-align: right;
  height: 100%;
  color: #791217;
  cursor: pointer;
}

#booking-form-single .booking-form-row input {
  width: 100%;
  top: 0;
  padding: 7px 5px;
  border: 1px solid rgb(43, 46, 52);
  border-radius: 0;
}

#booking-form-single .booking-form-button {
  margin-top: 0;
}

.booking-form .btn-normal {
	padding: 10px 20px;
	width: 100%;
	margin-top: 10px;
	font-size: 15px;
	text-transform: uppercase;
	background: #f1dd7e;
	border-radius: 0;
}

.overflow-hidden #booking-mask-wrapper {
  overflow-y: scroll;
}

/* End Style Modal */
#booking-mask-wrapper.show-check .show-calendar {
  display: none !important;
}

#booking-mask-wrapper.show-check .check-date {
  display: block !important;
}

#booking-mask-wrapper.no-slide.show-check .show-calendar {
  display: block !important;
}

#booking-mask-wrapper.no-slide.show-check .check-date {
  display: none !important;
}

.booking.closed .date-1,
.booking.closed .date-2 {
	display: none;
}

@media(max-width: 1200px) {
	.booking {
		top: 10px;
    right: 20px;
	}
}